.ventanaError {
    color: red;
}

.formDiv {
    background-color: rgb(15, 14, 14);
    position: absolute;
    background-size: cover;
    background-position: center;
}

.imagenDiv {
    display: flex;
    position: relative;
<<<<<<< HEAD
    width: 1100px;
=======
    width: 600px;
>>>>>>> d4e9d4061e0921aa4ae4aef2755a75030041a465
    height: 700px;
    margin: 20px;
    background-size: cover;
    background-position: center;
 }


 .inputDiv {
    background-color: rgb(178, 177, 178);
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1100px;
    height: 400px;
    margin: 20px;
    background-size: cover;
    background-position: center; 
 }

 label {
    font-size: 2em;
 }
 input {
    height: 50px;
    font-size: 2em;
 } 
 