.ventanaError {
    color: red;
}

.formdiv {
    background-color: rgb(15, 14, 14);
    position: absolute;
    background-size: cover;
    background-position: center;
}

.imagenDiv {
    display: flex;
    position: relative;
<<<<<<< HEAD
    width: 450px;
    height: 600px;
=======
<<<<<<< HEAD
    width: 1100px;
=======
<<<<<<< HEAD
    width: 1100px;
=======
    width: 600px;
>>>>>>> d4e9d4061e0921aa4ae4aef2755a75030041a465
>>>>>>> f5097545d476ba186e4c8efdc16081929137f66c
    height: 700px;
>>>>>>> 84afd37e786e71224d84b5198d7a5c9773f9c901
    margin: 20px;
    background-size: cover;
    background-position: center;
 }


 .inputDiv {
    background-color: rgb(178, 177, 178);
    justify-content: center;
    align-items: center;
    position: relative;
    width: 550px;
    height: 300px;
    margin: 20px;
    background-size: cover;
    background-position: center; 
 }

 label {
    font-size: 1,5em;
 }
 input {
    height: 30px;
    font-size: 1em;
 } 
 