.container {
    padding: 20px;
    background-color: aqua;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    
}
  
 .botonAgregar {
    position: absolute;
  
    left:89%;
    border: 20px;
    font-size: 54px;
    padding: 10px 20px;
    margin: 15px;
    padding: 5px;
}
.imput {
    position: absolute;
    top: 2%;
    left:70%;
    border: 20px;
    font-size: 54px;
    padding: 10px 20px;
    margin: 15px;
    padding: 5px;
}